body {
    max-width: 1400px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    line-height: 30px;
}

pre {
    font-size: larger;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    padding: 16px 0;
}

.blink { 
    animation: blink 0.7s infinite; 
}

@keyframes blink { from { opacity: 1; /* Непрозорий текст */
    } 
    to { opacity: 0; /* Прозорий текст */
    } 
}

.place-for-timer {
    font-size: 48px;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
}